body, html {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: 100%;
  background-image: Url("https://media.istockphoto.com/vectors/beach-bbq-vector-id165965223?k=6&m=165965223&s=612x612&w=0&h=4Ci4x5_spaV9UU-m6DRb0IZdzKJKTTyHybIOlQIbIAU=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: hidden;
}

h1{
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  -webkit-text-stroke: .1px wheat;
  font-family: 'Lobster', cursive;
  color:orangered;
  text-decoration: wheat underline;
}

h3 {
  display: flex;
  flex-direction: row-reverse;
  -webkit-text-stroke: .01px wheat;
  font-family: 'Lobster', cursive;
  color: white;
  text-decoration: wheat underline;
  margin-right: 20px;
  margin-bottom: 5px;
}

h4{
  text-shadow: black;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  color: orangered;
  -webkit-text-stroke: .1px wheat;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  color: orangered;
  font-family: 'Lobster', cursive;
  margin-right: 30px;
  -webkit-text-stroke: .1px wheat;
}

li {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  color: white;
  font-family: 'Lobster', cursive;
  border: orangered;
  background: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  )
}

#try-burger-form {
  display: flex;
  flex-direction: column;
}

#try-burger {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 30%;
  border-color: orangered;
  font-family: 'Lobster', cursive;
}
#get-burger {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}



#random-burger{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}

#burgerimg-container {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
}

img {
  border-radius: 70%;
}


#recipe {
  list-style: none;
  font-size: .75em;
}

@media only screen and (min-width: 650px){
  #recipe {
    font-size: 1.25em;
  }
}