body, html {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  width: 100%;
  background-image: Url("https://media.istockphoto.com/vectors/beach-bbq-vector-id165965223?k=6&m=165965223&s=612x612&w=0&h=4Ci4x5_spaV9UU-m6DRb0IZdzKJKTTyHybIOlQIbIAU=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  display: flex;
  order: -1;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  -webkit-text-stroke: .1px wheat;
  font-family: 'Staatliches', cursive;
  color:orangered;
  text-decoration: wheat underline;
}

h3 {
  display: flex;
  flex-direction: row-reverse;
  -webkit-text-stroke: .01px wheat;
  font-family: 'Staatliches', cursive;
  color: white;
  text-decoration: wheat underline;
  margin-right: 20px;
  margin-bottom: 5px;
}

h4{
  font-size: 20px;
  text-shadow: black;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  font-family: 'Staatliches', cursive;
  color: orangered;
  text-decoration: wheat underline;
  -webkit-text-stroke: .1px wheat;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  color: white;
  font-family: 'Staatliches', cursive;
  margin-right: 30px;
  -webkit-text-stroke: .1px wheat;
  text-decoration: wheat underline;
}

li {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Staatliches', cursive;
  border: orangered;
  -webkit-text-stroke: .1px wheat;
  background: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  )
}

#try-burger-form {
  display: flex;
  flex-direction: column;
}

#try-burger {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 30%;
  border-color: orangered;
  font-family: 'Lobster', cursive;
}
#get-burger {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}



#random-burger{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}

#burgerimg-container {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
}

img {
  border-radius: 70%;
}


#recipe {
  list-style: none;
}

#favorites-container {
  display: flex;
  flex-direction: column;
  order: 0;
  font-family: 'Staatliches', cursive;
  border: dotted black 1px;
  height: 20%;
  width: 15%;
  float: left;
}
#enter-name{
  padding-right: 5px;
}
#name-form {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 650px){
  h1{
    font-size: 3pc;
  }
  ul{
    font-size: 2pc;
  }
  li{
    font-size: 2pc;
  }

  h3{
    font-size: 2pc;
  }
  h4 {
    font-size: 2pc;
  }

  #favorites-container {
    font-family: 'Staatliches', cursive;
    border: dotted black 1px;
    height: 20%;
    width: 15%;
  }
  
}