body, html {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  width: 100%;
  background-image: Url("https://media.istockphoto.com/vectors/beach-bbq-vector-id165965223?k=6&m=165965223&s=612x612&w=0&h=4Ci4x5_spaV9UU-m6DRb0IZdzKJKTTyHybIOlQIbIAU=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro_page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  display: flex;
  order: -1;
  flex-direction: row-reverse;
  align-content: center;
  align-self: center;
  justify-content: center;
  -webkit-text-stroke: .1px wheat;
  font-family: 'Staatliches', cursive;
  color:orangered;
  text-decoration: wheat underline;
}

h2 {
  margin: 0;
  font-family: 'Staatliches', cursive;
  color: orangered;
  text-decoration: wheat underline;
  -webkit-text-stroke: .1px wheat;
}

h3 {
  display: flex;
  flex-direction: row-reverse;
  -webkit-text-stroke: .01px wheat;
  font-family: 'Staatliches', cursive;
  color: white;
  text-decoration: wheat underline;
  margin: 0px 20px 5px 0px;
}

h4{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  justify-content: center;
  font-family: 'Staatliches', cursive;
  color: orangered;
  text-decoration: wheat underline;
  -webkit-text-stroke: .1px wheat;
}

ul {
  margin: 0;
  padding: 5px;
  flex-direction: row-reverse;
  text-align: center;
  color: orangered;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: .2px wheat;
  text-decoration: wheat underline;
}

#favorite-ul {
  margin: 0;
  padding: 5px;
  color: orangered;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: .2px wheat;
  text-decoration: wheat underline;
}

li {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Staatliches', cursive;
  border: orangered;
  -webkit-text-stroke: .1px wheat;
  background: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  )
}

#favorite-id {
  display: flex;
  flex-direction: row;
  padding: 3px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-family: 'Staatliches', cursive;
  border: orangered;
  -webkit-text-stroke: .1px wheat;
  background: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  )
}

#form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#try-burger-form {
  flex-direction: row;
  margin: 0px 10px 0px 0px;
  padding: 0;
}
#try-burger {
  border-color: orangered;
  font-family: 'Lobster', cursive;
}
#get-burger {
  display: flex;
  margin-left: auto;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}
#more-burgers{
  display: flex;
  margin-left: auto;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}

#get-name{
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}

#name {
  border-color: orangered;
  font-family: 'Lobster', cursive;
}
#random-burger{
  display: flex;
  margin-left: auto;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}

#burgerimg-container {
  display: flex;
  justify-content: center;
}

img {
  display: flex;
  border-radius: 70%;
  align-self: center;
  justify-content: center;
}

#add-to-favorites{
  display: flex;
  justify-content: center;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
  height: 25%;
  margin: auto;
}

#recipe {
  list-style: none;
}

#favorites-container {
  display: flex;
  flex-direction: row;
  order: 0;
  font-family: 'Staatliches', cursive;
  border: ridge wheat 3px;
  height: 25%;
  width: auto;
  margin: 0px 0px 0px 10px;
}

#remove-everything {
  display: flex;
  margin-left: auto;
  background-color: white;
  border-color: orangered;
  font-family: 'Lobster';
}
#enter-name{
  padding-right: 5px;
}

#name-form {
  display: flex;
  justify-content: center;
}

#favorites {
  margin: 0;
  text-decoration: underline;
  font-size: 1.5pc
}

a:link { 
  color: wheat;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: orangered;
}

a:hover{
  text-decoration: underline;
}
@media only screen and (min-width: 650px){
  h1{
    font-size: 3pc;
  }
  h2 {
    font-size: 2.75pc;
  }

  h3{
    font-size: 2pc;
  }
  h4 {
    font-size: 2pc;
  }

  ul{
    font-size: 2pc;
  }

  li{
    font-size: 2pc;
  }

  section {
    font-size: 2pc;
  }

  #favorites {
    font-size: 2.25pc
  }
  #favorites-container {
    font-family: 'Staatliches', cursive;
    border: dotted black 1px;
    height: 20%;
  }
  
}